/* Roll In */

@keyframes roll-in {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.roll-in-enter {
    /* -active is applied later causing a slight flicker */
    opacity: 0;
    animation-duration: 1s;
}

.roll-in-enter.roll-in-enter-active {
    animation-name: roll-in;
}

.roll-in-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.roll-in-leave.roll-in-leave-active {
    opacity: 0.01;
}

/* Fade */

.fade-enter {
    opacity: 0;
    transition: opacity 3s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-leave.fade-leave-active {
    opacity: 0;
}
