/**
 * (C)Leanest CSS spinner ever
 * http://dabblet.com/gist/7615212
 */

@keyframes spin {
    from {}
    to { transform: rotate(1turn); }
}

.lea-spinner {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    margin: 0 .5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    animation: spin 1s steps(8) infinite;
}

.small.lea-spinner {
    font-size: 6px;
}

.large.lea-spinner {
    font-size: 24px;
}

.lea-spinner::before,
.lea-spinner::after,
.lea-spinner > div::before,
.lea-spinner > div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em; /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee; /* container height - part height */
    transform-origin: 50% 2.5em; /* container height / 2 */
}

.lea-spinner::before {
    background: #555;
}

.lea-spinner::after {
    transform: rotate(-45deg);
    background: #777;
}

.lea-spinner > div::before {
    transform: rotate(-90deg);
    background: #999;
}

.lea-spinner > div::after {
    transform: rotate(-135deg);
    background: #bbb;
}
