.txt-em--love {
    /* Sugar Hearts You http://www.colourlovers.com/palette/629637/(%E2%97%95%E3%80%9D%E2%97%95) */
    color: #FE4365;
}

/* Inverted header */
.page-footer {
    padding-top: 9px;
    margin: 40px 0 20px;
}

/* Dimension helpers */
.dim-half-width {
    width: 50%;
}

.dim-full-width {
    width: 100%;
}

/* Layour helpers */

.l-marg-t-n {
    margin-top: 1em;
}

.l-marg-b-n {
    margin-bottom: 1em;
}

.l-marg-l-n {
    margin-left: 1em;
}

.l-marg-r-n {
    margin-right: 1em;
}

/* Custom Buttons */

.image-btn {
    border: none;
}

.cm-image-btn-sign-in {
    width: 158px;
    height: 28px;
    background: transparent url(../images/signin.png) scroll no-repeat;
}
