/* Attribute overrides */

[draggable] {
    /* Prevent the text contents of draggable elements from being selectable. */
    user-select: none;
    cursor: move;
}

/* Text styles */

.txt-em--love {
    /* Sugar Hearts You http://www.colourlovers.com/palette/629637/(%E2%97%95%E3%80%9D%E2%97%95) */
    color: #FE4365;
}

/* Inverted header */
.page-footer {
    padding-top: 9px;
    margin: 40px 0 20px;
}

/* Dimension helpers */
.dim-half-width {
    width: 50%;
}

.dim-full-width {
    width: 100%;
}

/* Layour helpers */

.l-marg-t-n {
    margin-top: 1em;
}

.l-marg-b-n {
    margin-bottom: 1em;
}

.l-marg-l-n {
    margin-left: 1em;
}

.l-marg-r-n {
    margin-right: 1em;
}

.l-marg-v-n {
    margin-top: 1em;
    margin-bottom: 1em
}

/* Global states */

.s-disabled {
    filter: grayscale(1) blur(1px);
    -webkit-filter: grayscale(1) blur(1px);
    pointer-events: none;
}

/* Custom Buttons */

.image-btn {
    border: none;
}

.cm-image-btn-sign-in {
    width: 158px;
    height: 28px;
    background: transparent url(../images/signin.png) scroll no-repeat;
}

/* Drag and Drop */

.dnd__item--placeholder {
    opacity: .4;
}

.global-progress {
    display: block;
    position: fixed;
    width: 100%;
}

.global-progress[data-progress]::after {
    content: "";
    display: block;
    transition: width 1s ease 0s;
    background-color: #FE4365;
    box-shadow: 0 0 1px #FE4365;
    opacity: 0.6;
    height: 4px;
    border-radius: 0;
    top: 0;
}

.global-progress[data-progress="0"]::after {
  width: 0%;
}
.global-progress[data-progress="1"]::after {
  width: 1%;
}
.global-progress[data-progress="2"]::after {
  width: 2%;
}
.global-progress[data-progress="3"]::after {
  width: 3%;
}
.global-progress[data-progress="4"]::after {
  width: 4%;
}
.global-progress[data-progress="5"]::after {
  width: 5%;
}
.global-progress[data-progress="6"]::after {
  width: 6%;
}
.global-progress[data-progress="7"]::after {
  width: 7%;
}
.global-progress[data-progress="8"]::after {
  width: 8%;
}
.global-progress[data-progress="9"]::after {
  width: 9%;
}
.global-progress[data-progress="10"]::after {
  width: 10%;
}
.global-progress[data-progress="11"]::after {
  width: 11%;
}
.global-progress[data-progress="12"]::after {
  width: 12%;
}
.global-progress[data-progress="13"]::after {
  width: 13%;
}
.global-progress[data-progress="14"]::after {
  width: 14%;
}
.global-progress[data-progress="15"]::after {
  width: 15%;
}
.global-progress[data-progress="16"]::after {
  width: 16%;
}
.global-progress[data-progress="17"]::after {
  width: 17%;
}
.global-progress[data-progress="18"]::after {
  width: 18%;
}
.global-progress[data-progress="19"]::after {
  width: 19%;
}
.global-progress[data-progress="20"]::after {
  width: 20%;
}
.global-progress[data-progress="21"]::after {
  width: 21%;
}
.global-progress[data-progress="22"]::after {
  width: 22%;
}
.global-progress[data-progress="23"]::after {
  width: 23%;
}
.global-progress[data-progress="24"]::after {
  width: 24%;
}
.global-progress[data-progress="25"]::after {
  width: 25%;
}
.global-progress[data-progress="26"]::after {
  width: 26%;
}
.global-progress[data-progress="27"]::after {
  width: 27%;
}
.global-progress[data-progress="28"]::after {
  width: 28%;
}
.global-progress[data-progress="29"]::after {
  width: 29%;
}
.global-progress[data-progress="30"]::after {
  width: 30%;
}
.global-progress[data-progress="31"]::after {
  width: 31%;
}
.global-progress[data-progress="32"]::after {
  width: 32%;
}
.global-progress[data-progress="33"]::after {
  width: 33%;
}
.global-progress[data-progress="34"]::after {
  width: 34%;
}
.global-progress[data-progress="35"]::after {
  width: 35%;
}
.global-progress[data-progress="36"]::after {
  width: 36%;
}
.global-progress[data-progress="37"]::after {
  width: 37%;
}
.global-progress[data-progress="38"]::after {
  width: 38%;
}
.global-progress[data-progress="39"]::after {
  width: 39%;
}
.global-progress[data-progress="40"]::after {
  width: 40%;
}
.global-progress[data-progress="41"]::after {
  width: 41%;
}
.global-progress[data-progress="42"]::after {
  width: 42%;
}
.global-progress[data-progress="43"]::after {
  width: 43%;
}
.global-progress[data-progress="44"]::after {
  width: 44%;
}
.global-progress[data-progress="45"]::after {
  width: 45%;
}
.global-progress[data-progress="46"]::after {
  width: 46%;
}
.global-progress[data-progress="47"]::after {
  width: 47%;
}
.global-progress[data-progress="48"]::after {
  width: 48%;
}
.global-progress[data-progress="49"]::after {
  width: 49%;
}
.global-progress[data-progress="50"]::after {
  width: 50%;
}
.global-progress[data-progress="51"]::after {
  width: 51%;
}
.global-progress[data-progress="52"]::after {
  width: 52%;
}
.global-progress[data-progress="53"]::after {
  width: 53%;
}
.global-progress[data-progress="54"]::after {
  width: 54%;
}
.global-progress[data-progress="55"]::after {
  width: 55%;
}
.global-progress[data-progress="56"]::after {
  width: 56%;
}
.global-progress[data-progress="57"]::after {
  width: 57%;
}
.global-progress[data-progress="58"]::after {
  width: 58%;
}
.global-progress[data-progress="59"]::after {
  width: 59%;
}
.global-progress[data-progress="60"]::after {
  width: 60%;
}
.global-progress[data-progress="61"]::after {
  width: 61%;
}
.global-progress[data-progress="62"]::after {
  width: 62%;
}
.global-progress[data-progress="63"]::after {
  width: 63%;
}
.global-progress[data-progress="64"]::after {
  width: 64%;
}
.global-progress[data-progress="65"]::after {
  width: 65%;
}
.global-progress[data-progress="66"]::after {
  width: 66%;
}
.global-progress[data-progress="67"]::after {
  width: 67%;
}
.global-progress[data-progress="68"]::after {
  width: 68%;
}
.global-progress[data-progress="69"]::after {
  width: 69%;
}
.global-progress[data-progress="70"]::after {
  width: 70%;
}
.global-progress[data-progress="71"]::after {
  width: 71%;
}
.global-progress[data-progress="72"]::after {
  width: 72%;
}
.global-progress[data-progress="73"]::after {
  width: 73%;
}
.global-progress[data-progress="74"]::after {
  width: 74%;
}
.global-progress[data-progress="75"]::after {
  width: 75%;
}
.global-progress[data-progress="76"]::after {
  width: 76%;
}
.global-progress[data-progress="77"]::after {
  width: 77%;
}
.global-progress[data-progress="78"]::after {
  width: 78%;
}
.global-progress[data-progress="79"]::after {
  width: 79%;
}
.global-progress[data-progress="80"]::after {
  width: 80%;
}
.global-progress[data-progress="81"]::after {
  width: 81%;
}
.global-progress[data-progress="82"]::after {
  width: 82%;
}
.global-progress[data-progress="83"]::after {
  width: 83%;
}
.global-progress[data-progress="84"]::after {
  width: 84%;
}
.global-progress[data-progress="85"]::after {
  width: 85%;
}
.global-progress[data-progress="86"]::after {
  width: 86%;
}
.global-progress[data-progress="87"]::after {
  width: 87%;
}
.global-progress[data-progress="88"]::after {
  width: 88%;
}
.global-progress[data-progress="89"]::after {
  width: 89%;
}
.global-progress[data-progress="90"]::after {
  width: 90%;
}
.global-progress[data-progress="91"]::after {
  width: 91%;
}
.global-progress[data-progress="92"]::after {
  width: 92%;
}
.global-progress[data-progress="93"]::after {
  width: 93%;
}
.global-progress[data-progress="94"]::after {
  width: 94%;
}
.global-progress[data-progress="95"]::after {
  width: 95%;
}
.global-progress[data-progress="96"]::after {
  width: 96%;
}
.global-progress[data-progress="97"]::after {
  width: 97%;
}
.global-progress[data-progress="98"]::after {
  width: 98%;
}
.global-progress[data-progress="99"]::after {
  width: 99%;
}
.global-progress[data-progress="100"]::after {
  width: 100%;
}
