/* Attribute overrides */

[draggable] {
    /* Prevent the text contents of draggable elements from being selectable. */
    user-select: none;
    cursor: move;
}

/* Text styles */

.txt-em--love {
    /* Sugar Hearts You http://www.colourlovers.com/palette/629637/(%E2%97%95%E3%80%9D%E2%97%95) */
    color: #FE4365;
}

/* Inverted header */
.page-footer {
    padding-top: 9px;
    margin: 40px 0 20px;
}

.page-logo {
    background: url('../images/logo.svg') transparent scroll no-repeat;
    width: 48px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
}

/* Navbar extension */
.navbar-top {
    border-radius: 0 !important;
}

/* Avatar */
.user-avatar {
    width: 2em;
    border: 2px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hover-zoom {
    transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
    transform: scale(3);
}

/* Dimension helpers */
.dim-half-width {
    width: 50%;
}

.dim-full-width {
    width: 100%;
}

/* Layout helpers */

.l-marg-t-n {
    margin-top: 1em;
}

.l-marg-b-n {
    margin-bottom: 1em;
}

.l-marg-l-n {
    margin-left: 1em;
}

.l-marg-r-n {
    margin-right: 1em;
}

.l-marg-v-n {
    margin-top: 1em;
    margin-bottom: 1em
}

.l-marg-h-n {
    margin-left: 1em;
    margin-right: 1em
}

.l-marg-a-n {
    margin: 1em;
}

.l-marg-t-s {
    margin-top: .5em;
}

.l-marg-b-s {
    margin-bottom: .5em;
}

.l-marg-l-s {
    margin-left: .5em;
}

.l-marg-r-s {
    margin-right: .5em;
}

.l-marg-v-s {
    margin-top: .5em;
    margin-bottom: .5em
}

.l-marg-h-s {
    margin-left: .5em;
    margin-right: .5em
}

.l-marg-a-s {
    margin: .5em;
}

/* Global states */

.s-disabled {
    filter: grayscale(1) blur(1px);
    -webkit-filter: grayscale(1) blur(1px);
    pointer-events: none;
}

/* Custom Buttons */

.btn-image {
    border: none;
}

.cm-image-btn-sign-in {
    width: 158px;
    height: 28px;
    background: transparent url('../images/signin.png') scroll no-repeat;
}

.rounded-number {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: .75em;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

/* Custom image styles */

.img-rounded {
    border-radius: 3px;
}

.tweet {
    position: relative;
}

.tweet__action {
    margin: 0 0.5em;
}

.tweet__main-action {
    position: absolute;
    right: 0;
}

/* Drag and Drop */

.dnd__item--placeholder {
    opacity: .4;
}

/* Bootstrap anti-selectivity crap overrides */

.open .dropdown-menu {
  display: block;
}

.open a {
  outline: 0;
}

.navbar-nav .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-nav .navbar-item {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.nav .navbar-item {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav .navbar-item:hover,
.nav .navbar-item:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav .navbar-item {
      padding-top: 19.5px;
      padding-bottom: 19.5px;
  }
}
